.createPassword {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createPassword .container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.createPassword .container .left {
    font-family: var(--ubuntu);
    flex: 1;
    width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10rem;
    gap: 10rem;
}

.createPassword .container .left .top h2 {
    color: var(--deep-blue);
    font-size: var(--font-heading3);
}



.createPassword .container form {
    width: 80%;
}

.createPassword .container form>div {
    width: 100%;
    margin-bottom: 3rem;

}

.createPassword .container form>div label {
    font-size: var(--font-para3);
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.createPassword .container form>div div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(227, 227, 227);
    border-radius: 0.5rem;

    padding: 0rem 1rem;
}

.createPassword .container form>div div input {
    width: 100%;
    border: none;
    font-size: var(--font-para3);
    outline: none;
    background-color: transparent;
    color: var(--deep-blue);
    margin: 0;
}

.createPassword .container form>div div .icon {
    font-size: var(--font-para2);
    color: var(--deep-blue);
    cursor: pointer;
}

.createPassword .container form button {
    width: 100%;
    background-color: var(--deep-blue);
    /* margin: 1rem 0rem; */
    margin-top: 2rem;
    font-size: var(--font-para3);
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}

.createPassword .container .right {
    flex: 1;
    width: 50%;
    min-height: 100vh;
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.createPassword .container .right .wrapper {
    flex: 0 0 90%;
}

.createPassword .container .right .wrapper img {
    width: 100%;
    height: auto;
}